.DS_Store
Poisk_1_RGB_DIN-to-VGA/fp-info-cache
/Poisk_1_Video_DIN-to-RCA/Poisk_1_Video_DIN-to-RCA-backups
Poisk_1_Video_DIN-to-RCA/fp-info-cache
Poisk_1_Video_DIN-to-RCA/Poisk_1_Video_DIN-to-RCA.kicad_prl
*.kicad_prl
/Poisk_1_RGB_DIN-to-VGA/Poisk_1_RGB_DIN-to-VGA-backups
